.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: 333a45;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #939eae;
  padding-left: 10px;
  margin: 0px;
}

.navLink {
  display: inline-block;
  color: #939eae;
  background-color: 333a45;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: 333a45;
}

.scrolled {
  position: fixed;
  top: 0;
  left:0;
}
